@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1, h2, h3 {
  text-wrap: balance;
}

:root {
  --bg-clr: #000000;
  --clr: #f2f2f2;
}

html {
  color-scheme: dark light; 
}

img {
  display: block;
  max-width: 100%;
}

main {
  margin-inline: auto;
  width: min(1280px, calc(100% - 4rem));
}

body { 
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  background-color: var(--bg-clr);
  color: var(--clr);
  line-height: 1.6;
  min-height: 100vh;
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.25rem); 
}

#work,
#about,
#experience,
#testimonials,
#contact {
  scroll-margin-top: 80px; 
  overflow: hidden;
} 

#testimonials {
  min-height: 100vh
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.fixed-w-full {
  @apply fixed top-0 left-0 w-full;
} 

.section-heading {
  @apply text-4xl md:text-6xl font-medium tracking-tight mb-10
}

.section-padding {
  @apply px-6 py-10
}

.section-b-border {
  @apply h-1 w-20 mb-8 bg-white
}